.productPage__container {
  display: flex;
  flex-direction: column;
}

.productPage__wrapper {
  padding: 50px;
  display: flex;
}

.productPage__img-container {
  flex: 1;
}

.productPage__image {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.productPage__info-container {
  flex: 1;
  padding: 0px 50px;
}

.productPage__title {
  font-weight: 200;
}

.productPage__desc {
  margin: 20px 0px;
}

.productPage__price {
  font-weight: 100;
  font-size: 40px;
}

.productPage__filter-container {
  width: 50%;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.productPage__filter {
  display: flex;
  align-items: center;
}

.productPage__filter-title {
  font-size: 20px;
  font-weight: 200;
}

.productPage__filter-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 5px;
  cursor: pointer;
}

.productPage__filter-size {
  margin-left: 10px;
  padding: 5px;
}

/* .productPage__filter-size-option {
} */

.productPage__add-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productPage__amount-container {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.productPage__amount {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid teal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.productPage__button {
  padding: 15px;
  border: 2px solid teal;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
}

.productPage__button:hover {
  background-color: #f8f4f4;
}

/* ----------------------------------------------------------------------------------- */

@media only screen and (max-width: 380px) {
  .productPage__wrapper {
    padding: 10px;
    flex-direction: column;
  }

  .productPage__image{
    height: 40vh;
  }

  .productPage__info-container{
    padding: 10px;
  }

  .productPage__filter-container{
    width: 100%;
  }

  .productPage__add-container{
    width: 100%;
  }

}
