.categories__container{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}



/* ----------------------------------------------------------------------------------- */

@media only screen and (max-width:380px){
    .categories__container{
        padding: 0px;
        flex-direction: column;
    }
}