.loading {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #12111191;
    z-index: 100;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #454545;
    font-weight: 700;
    font-size: 20px;
    height: 40vh;
    width: 500px;
    display: flex;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    z-index: 50;
}

.loading-progress {
    color: teal !important;
    height: 30px !important;
    width: 30px !important;
    margin-bottom: 12px !important;
}